<section ng-controller="authController">
    <div class="formBox">
    <h2>Signup</h2>
    <form ng-submit="doSignup();" name="signup" id="signup">
    	<div>
    		<input type="text" name="firstname" ng-model="signupData.first_name" placeholder="First name"/>
    	</div>
    	<div>
    		<input type="email" name="email" ng-model="signupData.email" placeholder="email address"/>
    	</div>
    	<div>
    		<input type="password" name="password" ng-model="signupData.password" placeholder="password"/>
    	</div>
    	<div>
    		<input type="submit" name="submit" value="submit"/>
    	</div>
    </form>
    </div>

    <div class="formBox">
    <h2>Login</h2>
    <form ng-submit="dologin();" name="login" id="login">
    	<div>
    		<input type="email" name="email" ng-model="loginData.email" placeholder="email address"/>
    	</div>
    	<div>
    		<input type="password" name="password" ng-model="loginData.password" placeholder="password"/>
    	</div>
    	<div>
    		<input type="submit" name="submit" value="Login"/>
    	</div>
    </form>
    </div>
    <br/>
    <br/>
    <h3>Or Login using</h3>
    <a href="javascript:;" ng-click="doSocialLogin('facebook', 'F')">Facebook</a><br/> 
    <a href="javascript:;" ng-click="doSocialLogin('google', 'G')">Google</a><br/>
    <a href="javascript:;" ng-click="doSocialLogin('linkedin', 'L')">LinkedIn</a><br/>
</section>
