<!DOCTYPE html>
 
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
 
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Complete AngularJS + RequireJS SPA Seed Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="/res/favicon.ico">
  <meta name="description" content="Online marketplace and community connecting chefs and hosts for private dining and exclusive catering. Hire professional private chefs for any occasion."/>
  <meta content="private chef, personal chef, hire a chef, chef for hire, chef at home, cook for hire, hire a cook, looking for a chef, looking for a cook, host a dinner, local chefs, hire a chef for a day, hire a chef for a night, professional chefs at home, party catering, chef service,    freelance chef,    private dining,    bespoke party, chef concierge" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
  <header>
  	<a href="/"><img src="http://www.chefhost.kitchen/res/images/logo.png" alt="" width="65px"></a>
  </header>
<div id="mainContent" >
<section class="ng-scope">
	<div class="container errorPage mar-top15">
  <h1>LOST?</h1>
  <h2>The requested URL was not found on this server.</h2>
  <div>
      <p>We couldn't find the page you are looking. </p>
    </div>
  </div>
</section></div>
<footer>
	<% include includes/footer.html %>
</footer>
</body>
</html>