<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html <%if (zombie != true){ %> ng-app="myapp" <% } %> lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Angular-RequireJS Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="<%= resourceUrl %>res/favicon.ico">
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script>
    var pageConfig = {
      resourceUrl : '<%= resourceUrl %>'
    }
  </script>
  <script src="<%= resourceUrl %>res/js/lib/modernizr.js"></script>
  <script data-main="<%= resourceUrl %>res/js/appBootstrap" src="/res/js/lib/require.js"></script>
</head>

<body>
  <h1>AngularJS + RequireJS</h1>
  <ul class="menu">
    <li><a href="/home">Home</a>
    </li>
    <li><a href="/auth">Login</a>
    </li>
  </ul>

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div>{{ welcomeMsg }}</div>
  <div ng-view></div>


</body>

</html>
