<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html <%if (zombie != true){ %> ng-app="myapp" <% } %> lang="en" class="no-js">
<!--<![endif]-->

<head>
  <base href="/"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title  ng-bind="'myApp | ' + meta.title">Angular-RequireJS Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="<%= resourceUrl %>res/favicon.ico">
  <meta name="description" content="{{meta.description}}"/>
  <meta content="{{meta.keywords}}" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script>
    var pageConfig = {
      resourceUrl : '<%= resourceUrl %>'
    }
  </script>
  <link rel="stylesheet" type="text/css" href="<%= resourceUrl %>res/css/app.css"/>
  <script data-main="<%= resourceUrl %>res/js/appBootstrap" src="/res/js/lib.js"></script>
</head>

<body>
  <!-- Header -->
  <ng-include src="'/includes/header.html'"></ng-include>
  <!-- End Header -->

  <!-- Main content area -->
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- ng view area -->
  <div ng-view></div>
  <!-- end ng view area -->

  <!-- End Main content area -->

  <!-- Footer -->
  <ng-include src="'/includes/footer.html'"></ng-include>
  <!-- End Footer -->

</body>

</html>
