<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc><%= ctxUrl %></loc>
  <changefreq>weekly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>host/search-chef</loc>
  <changefreq>daily</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>concierge</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>recipes</loc>
  <changefreq>daily</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>aboutus</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>team</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>in-the-news</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc>http://www.blog.chefhost.kitchen/</loc>
  <changefreq>weekly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>showcased-at</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>chef</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>chef/how-it-works</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>chef/faq</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>host</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>host/how-it-works</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>host/faq</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>terms-conditions</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>privacy-policy</loc>
  <changefreq>monthly</changefreq>
</url>
<url>
  <loc><%= ctxUrl %>signup</loc>
  <changefreq>monthly</changefreq>
</url>
</urlset>