@import url('lib/normalize.css');

body{
    font-family: 'Open Sans', sans-serif;
    margin:0 50px;
}

.ng-cloak {
    display: none;
}
h1{
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
}
.menu{
    padding: 0;
}
.menu li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.menu li a{

}
.mainContent{
    padding-bottom:40px;
}
footer{
    
}
